<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OpenVPN Manager</title>
    <!-- meta -->
    <meta name="description" content="OpenVPN Manager Flask/Jinja2 application">
    <meta name="author" content="Tamas Tobi, tamas@tobi.hu">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="{{app_route}}/css" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
      
      <!-- navbar -->
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item is-tab" href="/">
            <img src="{{app_route}}/logo" width="32" height="28">
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item is-tab" href="{{app_route}}/">
              List-All
            </a>
            <a class="navbar-item is-tab" href="{{app_route}}/list-valid">
              List-Valid
            </a>
            <a class="navbar-item is-tab" href="{{app_route}}/list-revoke">
              List-Revoked
            </a>
            <a class="navbar-item is-tab is-active" href="{{app_route}}/create">
              <b>Create NEW</b>
            </a>
        </div>
        
      </nav>
      
      <!-- content -->
      <br />
      <h1 class="title">{{title}} - {{error}} {{site}}</h1>
      <div class="field is-grouped">
        <p class="control">
          <form action="{{app_route}}/create-form" method="post">
            <input class="input" type="text" name="cert_name" id="cert_name" placeholder="New certificate name" value="{{cert_name_val}}" {{read_only}}><font color="red">{{error_message}}</font><br /><br />
            <div class="select">
              <select name="select_gw" id="select_gw" {{read_only}}>
                <option {{selected_tcp}} value="tcp">Type: TCP - HTTPS/TCP443 (ONLY internal traffic  goes through)</option>
                <option {{selected_internal}} value="internal">Type: UDP443 (ONLY internal traffic goes through)</option>
                <option {{selected_gw}} value="gw">Type: TCP-Gateway - HTTPS/TCP443 (ALL traffic - internal+external goes through)</option>
              </select>
            </div>
            <br />
            <br />
            {% if read_only == 'readonly' and error_message %}
            <a class="button is-light" href="{{app_route}}/create">BACK</a>
            {% else %}
            {% if done != 'done' %}
              <input class="button is-primary is-danger" type="submit" value="CREATE">
              <a class="button is-light" href="{{app_route}}/">CANCEL</a>
            {% else %}
              <a class="button is-success" href="{{app_route}}/download/{{serial}}" target="_blank">DOWNLOAD</a>&nbsp;<a class="button is-light" href="{{app_route}}/">BACK TO LIST</a>
            {% endif %}
            {% endif %}
          </form>
        </p>
        </div>
        {% if read_only == 'readonly' %}
        <article class="message is-info">
          <div class="message-header">
            <p>Info</p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            {{out}}
          </div>
        </article>
        {% endif %}
    </div>
  </body>
</html>
